* {
  background-color: #202122;
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 20px;
  text-decoration: none;
}

/* Center a-tags. */
a {
  color: white;
}

/* Hide a-tag under a picture to create a home button. */
#home a {
  display: hidden;
}

/* Increase header size. */
h2 {
  font-size: 200%;
}

/* create a navigation bar that doesnt move when scrolling.
stylistic changes and positioning.
stays above other content on the page with z index. */
header {
  padding-top: 5px;
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  z-index: 5;


}

/* center-align links in navigation bar.
stylistic changes. */
nav a {
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

/* changes color of a tags in nav bar when hovered.*/
header a:hover {
  color: rgb(243, 120, 20);
  text-decoration: none;
  text-decoration-color: rgb(243, 120, 20);
  border-bottom: 2px solid currentColor;
}

/* stylistic changes to nav bar.*/
.nav {
  padding-top: 10px;

}

/* position container for home button.
relative position to child.*/
.logo {
  float: left;
  position: relative;

}

/* minimize size of a tag in logo container.*/
.logo a {
  padding: 0;
}

/* 
.logo:hover a {
  /* .logo:hover .imgTop {
  border: none;
} */

/* resize white logo.*/
.imgBot {
  height: 50px;
  width: 50px;
}

/* resize orange logo.
high z index so it appears on top when visible.
make button not visible with 'display: none'.
give absolute position to overlay logo.
give positioning*/
.logo .imgTop {
  height: 50px;
  width: 50px;
  padding: 0px;
  z-index: 10;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* display orange logo when hovered
(because of z index it gives cool appearance) */
.logo:hover .imgTop {
  display: block;
}

/* not implemented in javascript, but a place i would put a menu button.
i take away fixed nav bar in small browsers so i would replace nav bar with this button */
/* stylistic adjustments */
.menu-iconC {
  font-size: 150%;
  display: none;
  float: right;
  margin: 0px 20px 0px 0px;
  border: none;
}

/* center main and column direction */
main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

/* normal direction and set child containers towards side of browser */
.top-section {
  display: flex;
  justify-content: space-between;

}

/* stylistic positioning of my picture that adjusts when dynamically resized on a large browser*/
.portrait {
  float: right;
  margin-right: 25%;
  margin-top: 20%;
}

/* stylistic positioning of my name stuff that adjusts when window is dynamically resized on a large browser. */
aside {
  text-align: center;
  flex-shrink: 2;
  min-width: 500px;
  margin-left: 10%;
  margin-top: 20%;
  line-height: 150%;
}

/* cool line */
.asideContent {
  border-left: 2px solid white;
}

/* position content */
.singleLine {
  text-align: center;
  font-size: 200%;
}


/***********************************************************************/

/* style button */
#myBtn {
  border: 2px solid rgb(243, 120, 20);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
}

/* adjust style when hovered */
#myBtn:hover {
  color: rgb(243, 120, 20);
  background-color: rgba(61, 61, 66, 0.945);

}

/* the modal (background) */
.modal {
  display: none;
  /* hidden by default */
  position: fixed;
  /* stay in place */
  z-index: 5;
  /* sit on top */
  padding-top: 100px;
  /* padding on all sides*/
  left: 0;
  /* location of the box */
  top: 0;
  /* location of the box */
  width: 100%;
  /* full width */
  height: 100%;
  /* full height */
  background-color: rgba(0, 0, 0, .9);
  /* black with opacity */


}

/* style modal */
.modal-content {

  margin: auto;
  border: 1px solid rgb(243, 120, 20);
  width: 50%;
  height: 50%;

}

/* align a tags */
.modal-content a {
  align-content: center;
}

/* align icons */
.modal-content i {
  float: left;
}

/* no bullet points */
.modal-content li {
  list-style-type: none;
}

/* everything changes to orange when hovered */
.modal-content li:hover,
.modal-content a:hover,
.modal-content i:hover {
  color: rgb(243, 120, 20);
}

/* style close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 25px;
  padding-top: 20px;
}

/* style close button when hovered */
.close:hover,
.close:focus {
  cursor: pointer;
  color: rgb(243, 120, 20)
}

/****************************************************************/

/* "Meat of website"
controlling the flow and spacing of upcoming containers */
.myPortfolioContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;

}

/* each thing (3) is going to be in a "card" */
.card {
  flex: 3;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* stylistic positioning */
.showcase-link {
  text-align: center;
}

/* container for headlined work experience */
.showcase {
  /* display size */
  width: 100%;
  height: 100%;
/* resize property */
  flex-shrink: 2;
  /* relative positioning to child */
  position: relative;

}

/* image of work
stylistic changes */
.showcase img {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 15px solid rgb(255, 175, 3);
}

/* text and overlay */
.sc-overlay p,
.sc-overlay {
  /* positioning */
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* dynamic font and overlay size */
  font-size: 3vw;
  max-height: 100vh;
  /* hidden */
  opacity: 0;
  /* speed of appearance */
  transition: .25s linear;
  background-color: #0a2b4ef5;
  margin: auto;

}

/* position text */
.sc-overlay p {
  bottom: auto;
}

/* show text when hovered */
.showcase:hover p {
  background-color: none;
  opacity: 1;

}

/* show overlay when hovered
gave overlay opacity */
.showcase:hover .sc-overlay,
p .sc-overlay {
  opacity: .85;

}

/* containers for work
stylistic changes*/
.work-card-content {
  min-width: 400px;
  max-width: 400px;
  max-height: 400px;
  position: relative;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  margin: 20px;
  border: 2px solid rgb(243, 120, 20);
}

/* image adjustments */
.work-card-content img {
  display: block;
  width: 100%;

}

/* overlay and text for each container */
.work-card-content-overlay,
.work-card-content p {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/* dynamic resize */
  font-size: 2vh;
/* hidden */
  opacity: 0;
  transition: .25s linear;
  background-color: #0a2b4ef5;
  margin-bottom: auto;
}

/* show when hovered */
.work-card-content:hover p {
  background-color: none;
  opacity: 1;

}

/* show when hovered */
.work-card-content:hover .work-card-content-overlay,
p .work-card-content-overlay {
  opacity: .85;

}

footer p {
  text-align: center;
}

/* small singular edit i added */
.underline-text {
  text-decoration: underline;
}

/*****************************************************************/

/* stylistic changes for different size browser */
@media screen and (max-width: 1010px) {

  body, main, .top-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* stylistic changes to my name part */
  aside {
    min-width: unset;
    margin: 10% 0%;
    display: flex;
    justify-content: center;
  }

  /* take away cool line */
  .asideContent {
    border-left: none;
  }

  /* stylistic changes to picture */
  .portrait {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-top: 10%;
  }

  .work-card-content {
    min-width: unset;
  }

}

/* stylistic changes for different size browser */
@media screen and (max-width: 950px) {

  main, nav, main .top-section {
    align-content: center;
  }

  nav {
    padding: 0;
  }

  .top-section {
    justify-content: center;
    padding-left: 0;
  }

  .myPortfolioContent h2 {
    border: 2px solid white;
    text-align: center;
  }

  .myPortfolioContent h2:hover {
    border-color: rgb(243, 120, 20);
    color: rgb(243, 120, 20);
  }


  .card h2 {
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: white;
  }

  #about-me-content {
    max-height: unset;
  }

}

/* stylistic changes for different size browser */
@media screen and (max-width: 600px) {

  /* take away nav bar */
  .nav {
    display: none;
  }

  /* styled the menu button (inactive but responsive) */
  .menu-iconC:active {
    border: 2px solid rgb(243, 120, 20);
    color: rgb(243, 120, 20);
  }

  .myPortfolioContent {
    align-content: center;
  }

  .card {
    margin: 0px;
  }

  .menu-iconC {
    display: block;
  }

  .work-card-content {
    border: 2px solid rgb(243, 120, 20);
    margin: 5px;
  }
}