header {
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #202122;
    color: #ffffff;
    text-align: center;
}

/* h1 {
    font-size: 200%;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
} */

header a {

    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:hover {
    color: rgb(243, 120, 20);
    text-decoration: none;
    text-decoration-color: rgb(243, 120, 20);
    border-bottom: 2px solid currentColor;   
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #202122;

}

/* body p {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    } */

.portrait {
    
    float: right;
    align-content: center;
   
    margin: 10%;
    

    }

aside {
    text-align: center;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* border-right: 50px solid #df0ebc00;
    background-color: #df0ebc00; */
    width: 500px;
    margin-left: 10%;
    margin-top: 20%;
    line-height: 150%;
    }

    .aside-content {
        margin-right: 20%;
        border-left:  2px solid #ffffff;

    }
.single-line {
    text-align: center;
    font-size: 200%;
    
}

.myPortfolio-content {
display: flex;
flex-direction: column;
flex-wrap: wrap;
    padding: 50px;
    background-color: #202122;
}

.card {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

@media screen and (max-width: 890px) {
    main,
    nav {
      flex-direction: column;
    }

    nav {
        padding-left: 0;
    }

    .portrait {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        
    }
   
    aside {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aside-content {
        border-left: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 .card h2{
     width: fit-content;
     
 }
    .card p, .card a, .card ul {
        display: none;
    }

    .card:hover p, .card:hover a, .card:hover ul{
        display: block;

    }

    .card:hover h2{
        border-color: rgb(243, 120, 20);
    }

    .card:hover h2 {
        color: rgb(243, 120, 20);
    }
     .card h2 {
        text-align: center;
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        border-radius: 20px;
        box-shadow: white;
    } 



  }