header {
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #202122;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 200%;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

header a {

    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:hover {
    color: rgb(255, 142, 37);
    text-decoration: none;
    text-decoration-color: rgb(255, 142, 37);
    border-bottom: 2px solid currentColor;   
}

main {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
     /* flex-wrap: wrap;*/
    background-color: #202122;
    

    }

body p {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.portrait {
    
    float: right;
    align-content: center;
    margin-top: 10%;
    

    }

aside {
    text-align: center;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* border-right: 50px solid #df0ebc00;
    background-color: #df0ebc00; */
    width: 500px;
    
    margin-top: 10%;
    line-height: 150%;
    }

    .aside-content {
        border-left:  2px solid #ffffff;

    }
.single-line {
    text-align: center;
    font-size: 200%;
    
}

@media screen and (max-width: 830px) {
    main,
    nav {
      flex-direction: column;
    }

    nav {
        padding-left: 0;
    }

    .portrait {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        
    }
   
    aside {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aside-content {
        border-left: none;
    }
  }